{% extends '::public.html.twig' %}

{% block body %}
<div class="site-error">
<h2>An error occured!</h2>

<div class="status-code">{{ status_code }}</div>

<p>We have been notified of this error and monkeys have been dispatched. Thank you for your understanding.</p>
</div>
{% endblock %}