# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/
web/bundles/
web/assets/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
app/check.php

# Vagrant
.vagrant
boxes/

# Node
npm-debug.log
node/node_modules/
node/primus-channels.js
node/websocket.js
node/log_fetch.js
node/aldis.js
web/js/primus.js

# Others
*~
rsync.log
github.json
payload/
*.pyc
output-vmware
.DS_Store
