# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/SymfonyRequirements.php
app/check.php

# Vagrant
.vagrant
app/Resources/boxes/

# Others
*~
rsync.log
github.json
*.pyc
