# daemontools
supervise

# help site
help/_site/

# Bootstrap
app/bootstrap*
bin/phpunit

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/
web/bundles/
web/assets/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/hipache_prod.json
app/SymfonyRequirements.php
app/check.php

# Vagrant
.vagrant

# Packer
packer/boxes/*
packer_cache

# Node
npm-debug.log
node/node_modules/
node/primus-channels.js
node/websocket.js
node/log_fetch.js
node/aldis.js
web/js/primus.js

# Others
*~
rsync.log
github.json
payload/
*.pyc
output-vmware
.DS_Store
