<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>stage1 configuration wizard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/configure.css" />

</head>

<body>

    <div class="container-narrow">

        <div class="jumbotron">
            <p class="lead">Success! Your configuration has been saved.</p>
            <p>You can now proceed and enjoy the delight of <a href="{{ path('app_core_homepage') }}">automatic staging environment building</a>!</p>
        </div>

    </div> <!-- /container -->
</body>
</html>
