parameters:
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          symfony
    database_user:          root
    database_password:      ~

    mailer_transport:       smtp
    mailer_host:            127.0.0.1
    mailer_user:            ~
    mailer_password:        ~

    locale:                 en
    secret:                 ThisTokenIsNotSoSecretChangeIt

    configured:             false
    build_host_mask:        %s.stage1.io

    redis_host:             127.0.0.1
    redis_port:             6379

    # various parameters
    build_logs_load_limit: 100

    # features switches
    feature_ip_access_list:     false
    feature_token_access_list:  true

    # build timeout, in seconds
    stage1_build_timeout:       10

    # maximum number of containers running per user
    stage1_running_containers_per_user: 5

    # docker
    docker_api_base_url: http://127.0.0.1:9000/
    docker_default_memory_limit: 134217728      # 128MB
    docker_default_cpu_shares: 1

    # google analytics
    # google_analytics_tracking_code: UA-45690665-2
    google_analytics_tracking_code: ~
    google_analytics_site: stage1.io