{% set routes = {
    app_admin_dashboard: "Dashboard",
    app_admin_beta_signups: "Beta Signups",
    app_admin_hipache: "Hipache",
    app_admin_websocket_routing: "Websocket",
    app_admin_docker_containers: "Docker Containers"
} %}

<ul class="nav nav-pills nav-stacked" id="nav-projects">
    {% for route, label in routes %}
    <li{% if app.request.attributes.get('_route') == route %} class="active"{% endif %}>
        <a href="{{ path(route) }}">{{ label }}</a>
    </li>
    {% endfor %}
</ul>