{% extends '::public.html.twig' %}


{% block body %}
<div class="jumbotron">
    <h1>:(</h1>

    <br /><br />

    <p class="lead">The demo is not available right now. Please try again later.</p>
    <p>In the meantime, you can still <a href="/tour">get a tour of Stage1</a>.</p>
</div>
{% endblock body %}