{% extends '::demo.html.twig' %}

{% block body %}

<select>
    <option value="ubermuda-puphpet">PuPHPet</option>
    <option value="ubermuda-symfony-cmf">Symfony CMF</option>
</select>

{% endblock body %}