#form-build {
    width: 400px;
    margin: auto;
}

#form-build .actions {
    text-align: center;
}

#form-build .help-block {
    margin-top: 0;
}

#form-build input, #form-build select {
    margin-bottom: 10px;
}

#form-build .control-label {
    text-align: left;
}

#demo-intro {
    text-align: center;
}

ul#steps {
    display: table;
    margin: auto;
}

#build-meta, #build-url {
    text-align: center;
}