.commit-hash {
    white-space: nowrap;
}

.help p {
    text-align: justify;
}

p.readmore {
    text-align: right;
}

body {
    padding-top: 60px;
}

.modal.inspect {
    width: 920px;
    margin-left: -460px;
}

.nav-tabs > li > a, .nav-pills > li > a {
    /*line-height: inherit;*/
}

td.actions form, td.actions div, table form {
    margin: 0;
    display: inline-block;
}

table.build-list td, table.candidates tbody td, tbody#branches td, table#project-access-list td {
    vertical-align: middle;
    line-height: 30px;
}

table.table td {
    border-top-width: 0 !important;
}

form#project-access-grant, form#project-access-grant table {
    margin-bottom: 0;
}

div.branch {
    line-height: 30px;
}

.label-nav {
    background-color: #0088cc;
}

.table-candidates th, tr.dummy th {
    line-height: 0;
    margin: 0;
    padding: 0;
}

tr.dummy th {
    text-indent: -9000px;
}

table.build-list td {
    color: gray;
}

table.build-list td .modal {
    color: black;
}

table.build-list tr:hover td {
    color: black;
}

table.build-list tr.status-running td {
    font-weight: bold;
    color: black;
}

pre#output, pre#logs, pre.terminal {
    background: black;
    color: lightgray;
}

pre#output, pre#logs {
    max-height: 35em;
    min-height: 35em;
    overflow: auto;
}

#output-container, #logs-container {
    position: relative;
}

#build-metadata .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding-left: 0;
}

#build-metadata dt {
    float: left;
    width: 5em;
    line-height: 30px;
}

#build-metadata dd {
    line-height: 30px;
}

div.build-building-icon {
    position: absolute;
    right: 15px;
    top: 11px;
}

div#logs-loading-indicator {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
}

.candidates-organisation-avatar {
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 3px;
}

#steps {
    list-style-type: none;
}

#steps li {
    font-size: 1.5em;
    line-height: 2em;
}

#steps li .icon-container {
    display: inline-block;
    width: 32px;
}

#steps .pending {
    color: gray;
}

#steps .running {
    color: black;
}

#steps .done {
    color: green;
}

#progress {
    position: fixed;
    left: 838px;
    width: 510px;
}

.table-candidates td {
    vertical-align: inherit;
}

textarea.per-line-settings {
    width: 95%;
    height: 7em;    
}

#project-import-footer {
    padding-left: 6em;
    padding-top: 3em;
}

#feedback-compose-button {
    position: fixed;
    bottom: 101px;
    left: 101px;
}

#feedback-compose-button a {
    font-size: 2em;
    padding: .5em;
}

#feedback textarea {
    width: 98%;
    height: 15em;
}


.disabled.pane-title a {
    color: black;
}

.disabled.pane-title a:hover {
    border-color: transparent;
}

/*#project_settings_build_yml {
    width: 50%;
    height: 15em;
}*/