{% extends '::admin.html.twig' %}

{% block body %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key,value in parameters %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {% if value is iterable %}
                    {{ value|json_encode(constant('JSON_PRETTY_PRINT'))|replace({' ': '&nbsp;'})|raw|nl2br }}
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}