<div class="row-fluid">
    <div class="span2">
        <p><strong>{{ label }}</strong></p>
    </div>
    <div class="span10">
        <pre class="terminal public_key">{{ key }}</pre>
    </div>
</div>
