{% extends '::base.html.twig' %}

{% set sidebar = false %}

{% block body %}
<h2>Thank you!</h2>

{% if waiting_list is defined and waiting_list >= 10 %}
<p>Ok we get it, you REALLY want to use Stage1, thanks!</p>

{% else %}
<p>Yes, thank you for {% spaceless %}
    {% if waiting_list is defined and waiting_list > 0 and waiting_list < 10 %}
        {% for i in range(0, waiting_list - 1) %}re-{% endfor %}
    {% endif %}
{% endspaceless %}registering to Stage1's waiting list.</p>
{% endif %}

{% endblock body %}