{% extends '::public.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>Thank you!</h1>

    {% if waiting_list is defined and waiting_list >= 10 %}
    <p class="lead">Ok we get it, you REALLY want to use <strong>Stage1</strong>, thanks!</p>

    {% else %}
    <p class="lead">Yes, thank you for {% spaceless %}
        {% if waiting_list is defined and waiting_list > 1 and waiting_list < 10 %}
            {% for i in range(1, waiting_list - 1) %}re-{% endfor %}
        {% endif %}
    {% endspaceless %}registering to <strong>Stage1</strong>'s waiting list.</p>
    {% endif %}
</div>
{% endblock body %}