<div class="row-fluid marketing">
    <div class="container">
        <div class="span5">
            <h4>Automated Builds</h4>
            <p>
                <i class="fa fa-cogs fa-3x"></i>
                Still deploying staging environments by hand? Forget that. Stage1 enables fully automated deployments.
            </p>

            <h4>Multiple branches</h4>
            <p>
                <i class="fa fa-random fa-3x"></i>
                Working with branches? So do we. Automatically build every new branches of your projects, or just a select few, you chose.
            </p>

            <h4>Free for OpenSource projects</h4>
            <p>
                <i class="fa fa-money fa-3x"></i>
                We love OpenSource, and we know you do too. So Stage1 is, and will always be, completely free for OpenSource projects.
            </p>
        </div>

        <div class="span5 offset2">
            <h4>Integrated with You</h4>
            <p>
                <i class="fa fa-exchange fa-3x"></i>
                Stage1 integrates with your workflow, making importing and building new projects a breeze. It's literally two clicks away.
            </p>

            <h4>Get more feedback</h4>
            <p>
                <i class="fa fa-comments fa-3x"></i>
                Can't wait to get your product owner's feedback on that awesome feature you just pushed? Don't wait, the staging is already there.
            </p>

            <h4>Lightning fast</h4>
            <p>
                <i class="fa fa-bolt fa-3x"></i>
                Your time is valuable. Your clients time is valuable. Everyone's time is valuable. That's why Stage1 builds staging environments fast.
            </p>
        </div>
    </div>
</div>