<ul class="nav nav-tabs">
    <li{% if app.request.attributes.get('_route') == 'app_core_project_builds' %} class="active"{% endif %}>
        <a href="{{ path('app_core_project_builds', { id: project.id }) }}">Builds</a>
    </li>
    <li{% if app.request.attributes.get('_route') == 'app_core_project_branches' %} class="active"{% endif %}>
        <a href="{{ path('app_core_project_branches', { id: project.id }) }}">Branches</a>
    </li>
    <li class="pull-right{% if app.request.attributes.get('_route') == 'app_core_project_admin' %} active{% endif %}">
        <a href="{{ path('app_core_project_admin', { id: project.id }) }}">Admin</a>
    </li>
</ul>