{% if app.user.projects | length > 0 %}
<ul class="nav nav-pills nav-stacked" id="nav-projects">
    {% for project in app.user.projects %}
    <li{% if app.request.attributes.get('current_project_id') == project.id %} class="active"{% endif %}>
        <a href="{{ path('app_core_project_show', { id: project.id }) }}">
                {{ project.name }}
                {% if project.pendingBuilds | length > 0 %}
                <p class="pull-right"><span class="label">{{ project.pendingBuilds | length }}</span></p>
                {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

<hr />
{% endif %}

<ul class="nav nav-pills nav-stacked">
    <li{% if app.request.attributes.get('_route') == 'app_core_projects_import' %} class="active"{% endif %}>
        <a href="{{ path('app_core_projects_import') }}">Import projects from github</a>
    </li>
</ul>