<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Rainforest</a></li>
    <li><a href="#">stage1</a></li>
    <li><a href="#">GraphIt</a></li>
</ul>

<hr />
<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Create new project</a></li>
    <li><a href="{{ path('app_core_projects_import') }}">Import projects from github</a></li>
</ul>