{% extends '::public.html.twig' %}

{% block body %}
<div class="row-fluid jumbotron">
    <div class="container">
        <div class="span6">
            <h2>Every day<br />is demo day.</h2>
        </div>

        <div class="span5 offset1 beta-register">

            <p class="lead"><strong>Register now</strong> for the private beta.</p>
            
            <form method="post" action="{{ path('app_core_beta_signup') }}">
                <div class="input-append">
                    <input type="text" name="email" placeholder="john.doe@gmail.com" />
                    <button class="btn btn-success">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="container subline">
    <p class="lead">Streamline your communication<br />with <b>automatic</b>, <b>frictionless</b> and <b>interactive</b> staging environments.</p>
</div>


{% include 'AppCoreBundle:Default:_marketing.html.twig' %}

<div class="container subline">
    <p class="lead">There should be some screenshots or event a screencast here.<br />We're working on it, thanks for noticing.</p>
</div>
{% endblock body %}