<div id="stage1-horizon">
    <div id="stage1-logo"><img src="//stage1.dev/images/logo-rotated.png" /></div>
</div>

<div id="stage1-sidebar">
    <div id="stage1-sidebar-header">
        <h4><span data-content="project"></span> @ <span data-content="branch"></span></h4>
    </div>

    <div id="stage1-sidebar-content">
        <form id="stage1-form" method="post" action="//stage1.dev/proxy/issue">
            <textarea id="stage1-input" name="stage1-input"></textarea>
            <input type="hidden" name="stage1-project" data-value="project" />
            <div class="form-actions"><button id="stage1-submit">Send feedback</button></div>
        </form>
    </div>
</div>