{% extends '::base.html.twig' %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

<p class="lead">No build?! Come on, get to work and push some code!</p>

<p>Or you can also <a href="{{ path('app_core_project_branches', { id: project.id }) }}">manually schedule a build</a> in the meantine.</p>
{% endblock body %}