{% extends '::base.html.twig' %}

{% block javascripts %}
<script src="/project_builds.js"></script>
{% endblock javascripts %}

{% block body %}
{% include 'AppCoreBundle:Default:_project_header.html.twig' %}

{% if has_builds %}

    {% if running_builds | length > 0 %}
        <p class="lead">Found <strong>{{ running_builds | length }}</strong> running instance{% if running_builds | length != 1 %}s{% endif %}.</p>

        {% include 'AppCoreBundle:Default:_build_list.html.twig' with {
            builds: running_builds,
            id: 'running-builds'
        } %}
    {% endif %}

    {% if pending_builds | length > 0 %}
        <p class="lead">Found <strong>{{ pending_builds | length }}</strong> pending build{% if pending_builds | length != 1 %}s{% endif %}.</p>

        {% include 'AppCoreBundle:Default:_build_list.html.twig' with {
            builds: pending_builds,
            show_headers: false,
            id: 'pending-builds'
        } %}
    {% endif %}

    {% if other_builds | length > 0 %}
        <p class="lead">Found <strong>{{ other_builds | length }}</strong>  other build{% if other_builds | length != 1 %}s{% endif %}.</p>
        {% include 'AppCoreBundle:Default:_build_list.html.twig' with {
            builds: other_builds,
            show_headers: false,
            id: 'other-builds'
        } %}
    {% endif %}
{% else %}
    <p class="lead">No builds?! Come on, get to work and push some code!</p>

    <p>Or you can also <a href="{{ path('app_core_project_branches', { id: project.id }) }}">manually schedule a build</a> in the meantine.</p>
{% endif %}
{% endblock body %}