.nav-tabs > li > a, .nav-pills > li > a {
    line-height: inherit;
}

td.actions form {
    margin: 0;
}

table#builds td, tbody#candidates td, tbody#branches td {
    vertical-align: middle;
    line-height: 30px;
}

div.branch {
    line-height: 30px;
}

.label-nav {
    background-color: #0088cc;
}

#table-candidates th {
    line-height: 0;
    margin: 0;
    padding: 0;
}