.nav-tabs > li > a, .nav-pills > li > a {
    line-height: inherit;
}

td.actions form {
    margin: 0;
}

table#builds td, tbody#candidates td, tbody#branches td {
    vertical-align: middle;
    line-height: 30px;
}

div.branch {
    line-height: 30px;
}