.candidate .name {
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.nav-tabs > li > a, .nav-pills > li > a {
    line-height: inherit;
}

td.actions form {
    margin: 0;
}

table#builds td {
    vertical-align: middle;
    line-height: 30px;
}

div.branch, div.candidate {
    line-height: 30px;
}